a[class^="icon-"] {
  background: url(../images/sprites.png) no-repeat;
  background-size: 200px 200px;
}
body {
  background: #f5f5f5;
}
header {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  background: url(../images/header-bg.png) repeat-x;
  background-size: 1px 44px;
  border-bottom: 1px solid #ccc;
}
header p {
  text-align: center;
  line-height: 44px;
  font-size: 18px;
}
header .icon-gt {
  position: absolute;
  width: 40px;
  height: 44px;
  left: 0;
  top: 0;
  padding: 12px 10px;
  background-position: -20px 0;
  background-origin: content-box;
  background-clip: content-box;
}
header .icon-itemsize {
  position: absolute;
  width: 40px;
  height: 44px;
  right: 0;
  top: 0;
  padding: 12px 10px;
  background-position: -60px 0;
  background-origin: content-box;
  background-clip: content-box;
}
.car-prompt {
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.car-prompt p {
  text-align: center;
  font-size: 12px;
  line-height: 35px;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  background: url(../images/safe_icon.png) no-repeat left center;
  background-size: 18px 18px ;
}
.car-shopping {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.car-shopping .car-shopping-title {
  padding-left: 40px;
  height: 34px;
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  position: relative;
}
.car-shopping .car-shopping-title .title-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 34px;
  width: 40px;
}
.car-shopping .car-shopping-title .title-left a {
  display: block;
  height: 34px;
  background: url("../images/shop-icon.png") no-repeat 0 0;
  background-size: 50px 100px;
  padding: 7px 10px;
  background-origin: content-box;
  background-clip: content-box;
}
.car-shopping .car-shopping-title .title-right {
  width: 100%;
  line-height: 34px;
}
.car-shopping .car-shopping-title .title-right h3 {
  display: block;
  font-weight: normal;
  font-size: 14px;
  padding-left: 20px;
  background: url("../images/buy-logo.png") no-repeat 3px center;
  background-size: 15px 15px;
}
.car-shopping .car-shopping-title .title-right p {
  color: #d8505c;
  font-size: 12px;
}
.car-shopping .car-shopping-content {
  padding: 10px 0 10px 40px;
  position: relative;
  background: #fff;
  border-top: 1px solid #ccc;
}
.car-shopping .car-shopping-content .content-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 34px;
}
.car-shopping .car-shopping-content .content-left a {
  display: block;
  width: 100%;
  height: 34px;
  float: left;
  padding: 7px 10px;
  background: url("../images/shop-icon.png") no-repeat;
  background-position: -25px 0;
  background-size: 50px 100px;
  background-origin: content-box;
  background-clip: content-box;
}
.car-shopping .car-shopping-content .content-right {
  width: 100%;
}
.car-shopping .car-shopping-content .content-right a {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.car-shopping .car-shopping-content .content-right a img {
  width: 100%;
  height: 100%;
}
.car-shopping .car-shopping-content .content-right .info p {
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  font-size: 14px;
}
.car-shopping .car-shopping-content .content-right .info > span {
  color: #d8505c;
  display: block;
}
.car-shopping .car-shopping-content .content-right .info .add {
  float: left;
}
.car-shopping .car-shopping-content .content-right .info .add span {
  display: inline-block;
  width: 32px;
  height: 24px;
  line-height: 24px;
  line-height: 20px;
  text-align: center;
  float: left;
}
.car-shopping .car-shopping-content .content-right .info .add span:nth-of-type(1) {
  border: 1px solid #ccc;
}
.car-shopping .car-shopping-content .content-right .info .add span:nth-of-type(2) {
  border: 1px solid #ccc;
}
.car-shopping .car-shopping-content .content-right .info .add > input {
  width: 32px;
  height: 24px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
}
.car-shopping .car-shopping-content .content-right .info .delete {
  width: 19px;
  height: 21px;
  margin-right: 20px;
}
.car-shopping .car-shopping-content .content-right .info .delete span:nth-of-type(1) {
  width: 18px;
  height: 4px;
  display: block;
  background: url("../images/delete_up.png") no-repeat;
  background-size: 18px 4px;
}
.car-shopping .car-shopping-content .content-right .info .delete span:nth-of-type(2) {
  width: 18px;
  height: 18px;
  display: block;
  background: url("../images/delete_down.png") no-repeat;
  background-size: 18px 18px;
}
.car-shopping .car-shopping-content .content-right .info .delete .open {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.rebox {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}
.rebox .rebox-content {
  width: 84%;
  margin: 0 auto;
  margin-top: 200px;
  background-color: #fff;
  padding: 0 10px;
  border-radius: 10px;
}
.rebox .rebox-content > h3 {
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
.rebox .rebox-content > div > span {
  display: block;
  width: 40%;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 15px 0;
  border-radius: 10px;
}
.rebox .rebox-content > div .ok {
  background-color: #d8505c;
}
